p {
  margin-bottom: 0px;
}
.food-info-list {
  background: #fff;
  margin: 20px 0 0 16px;
  padding: 10px 40px 40px 40px;
}
.food-info-list .app-container {
  vertical-align: middle;
  padding: 10px 20px 20px 20px;
}
.food-info-list .app-container .el-serch-wrap {
  margin-top: 0;
  border: 1px solid #ebeef5;
  background-color: #fff;
  color: #303133;
  border-radius: 4px;
  overflow: hidden;
}
.food-info-list .app-container .el-serch-wrap .el-title-body {
  padding: 20px;
  vertical-align: middle;
}
.food-info-list .app-container .el-serch-wrap .el-title-body .doc-logo {
  display: inline-block !important;
  line-height: 20px;
  vertical-align: middle;
}
.food-info-list .app-container .el-serch-wrap .el-title-body .add {
  float: right;
  padding: 9px 15px;
  font-size: 12px;
  border-radius: 3px;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  background: #409eff;
  border: 1px solid #dcdfe6;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
}
.food-info-list .app-container .el-serch-wrap .el-title-body .el-form-item {
  margin: 15px 25px 55px 35px;
  float: left;
}
.food-info-list .app-container .el-serch-wrap .el-title-body .el-form-item span {
  font-size: 14px;
  line-height: 32px;
  color: #606266;
  padding-right: 12px;
}
.food-info-list .app-container .el-serch-wrap .el-title-body .el-form-item input {
  height: 32px;
  line-height: 32px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  font-size: 12px;
  padding: 0 15px;
}
.food-info-list .app-container .el-serch-wrap .el-title-body .el-form-item input::-webkit-input-placeholder {
  color: #dcdfe6;
  font-size: 12px;
}
.food-info-list .app-container .el-title {
  margin-top: 15px;
  border: 1px solid #ebeef5;
  background-color: #fff;
  color: #303133;
  border-radius: 4px;
}
.food-info-list .app-container .el-title .el-title-body {
  padding: 20px;
  vertical-align: middle;
}
.food-info-list .app-container .el-title .el-title-body .doc-logo {
  display: inline-block !important;
  line-height: 20px;
  vertical-align: middle;
}
.food-info-list .app-container .el-title .el-title-body .add {
  float: right;
  padding: 7px 15px;
  font-size: 12px;
  border-radius: 3px;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  transition: .1s;
}
.food-info-list .app-container .table-container {
  margin-top: 15px;
  border-right: 1px solid #ebeef5;
  border-bottom: 1px solid #ebeef5;
  width: 100%;
  text-align: center;
}
.food-info-list .app-container .table-container table thead tr {
  height: 70px;
  background: #bfbfbf1c;
}
.food-info-list .app-container .table-container table thead trhover {
  background: #098bd912;
}
.food-info-list .app-container .table-container table thead tr th {
  padding: 12px 0;
  border-left: 1px solid #ebeef5;
  border-top: 1px solid #ebeef5;
  width: 7%;
  color: #909399;
}
.food-info-list .app-container .table-container table thead tr th:nth-of-type(1) {
  width: 4%;
}
.food-info-list .app-container .table-container table thead tr th:nth-of-type(8),
.food-info-list .app-container .table-container table thead tr th:nth-of-type(3),
.food-info-list .app-container .table-container table thead tr th:nth-of-type(9) {
  width: 9%;
}
.food-info-list .app-container .table-container table td {
  padding: 20px 0;
  border-left: 1px solid #ebeef5;
  border-top: 1px solid #ebeef5;
  text-align: center;
  font-size: 14px;
  color: #303133;
}
.food-info-list .app-container .table-container table td img {
  width: 100px;
  height: 80px;
}
.food-info-list .app-container .table-container table td p {
  margin-bottom: 6px !important;
}
.ant-switch {
  min-width: 40px;
  height: 20px;
}
.ant-switch::after {
  width: 16px;
  height: 17px;
}
.ant-select-selection-selected-value {
  text-indent: 1em !important;
}
.ant-select-selection__rendered {
  font-size: 12px;
  margin: 0 !important;
}
.ant-select-selection__placeholder {
  text-indent: 1em;
}
.ant-select-arrow {
  padding-right: 0 !important;
}
.ant-select-arrow-icon svg {
  height: 0.7em;
}
