.food-add {
  background: #fff;
  height: calc(20%);
  margin: 20px 0 0 16px;
  padding: 10px 40px 40px 40px;
}
.food-add .food-add-wrap {
  height: 100%;
  margin: 20px auto;
  padding: 40px 80px;
  width: 800px;
  border: 1px solid #ebeef5;
}
.food-add .food-add-wrap .steps-content {
  margin: 10px 0 0 -30px;
}
.food-add .food-add-wrap .form-wrap {
  margin-top: 50px;
}
.food-add .food-add-wrap .form-wrap ul {
  line-height: 50px;
  height: 50px;
}
.food-add .food-add-wrap .form-wrap ul .sort p {
  width: 120px;
  float: left;
  text-align: right;
  padding-right: 20px;
  color: #606266;
  font-weight: 400;
}
.food-add .food-add-wrap .form-wrap ul .sort p::before {
  content: "*";
  color: #f56c6c;
  margin-right: 4px;
}
.food-add .food-add-wrap .form-wrap ul .sort .ant-input {
  width: 300px;
}
