* {
    margin: 0;
    padding: 0;
}


.top_margin .top_img {
    float: left;
    margin-right: 61px
}

.top-logo {
    background: url("../images/topBar-logo.png") no-repeat;
    display: block;
    width: 133px;
    height: 44px;
    float: left;
    margin-top: 5px;
    margin-right: 10px;
}

.top_margin {
    position: relative
}

.top_img:hover .top_pic {
    background: url("../images/top-picture-big.png") no-repeat;
    position: absolute;
    top: 55px;
    width: 960px;
    height: 250px;
    left: 0;
    z-index: 3;
}

.top_margin {
    width: 100%;
    margin: auto;
    height: 55px;
    background-color: #fbfbfb;
}

.position {
    width: 1000px;
    background-color: #fdfefe;
    margin: auto
}

.first_title {
    background: #fbfbfb;
}

.top_login,
div .top_gamemenu {
    padding: 0 12px;
    text-align: center;
    vertical-align: middle;
    font-size: 12px;
    display: inline-block;
    color: #333;
    text-decoration: none;
}

.top_margin .top_gamemenu:hover,
.top_login:hover {
    color: #bc2e2e;
    border-bottom: 3px solid #bc2e2e;
    background-image: -webkit-linear-gradient(top, #F3F3F3 0, #FEFEFE 52px);
    /*渐变色？？*/
}

.box_gamemenu {
    display: inline-block;
    z-index: 10;
}

/*重点：子元素hover要求盒子是父子关系*/
.box_gamemenu:hover .gametable {
    position: absolute;
    left: 0;
    top: 55px;
    border: 1px solid #ececec;
    display: block;
}

.top-nav {
    overflow: hidden
}

.player {
    width: 135px;
    height: 415px;
    padding-top: 10px;
    padding-left: 14px;
    text-align: left;
    float: left;
}

.player a {
    display: block;
    font-weight: 400;
    line-height: 24px;
    color: #999;
    margin: 0;
    padding: 0;
    border-collapse: collapse
}

.no-1 {
    background: url("../images/gamemenu-pic.png")no-repeat;
    background-position: 0 -267px
}

.new {
    background: url("../images/gamemenu-pic.png")no-repeat;
    background-position: 0px -206px
}

.new-another {
    background: url("../images/gamemenu-pic.png")no-repeat;
    background-position: -13px -206px
}

.hot {
    background: url("../images/gamemenu-pic.png")no-repeat;
    background-position: 0 -144px
}

a:hover {
    color: #bc2e2e;
    font-style: normal;
    font-weight: 400
}

/*------------------------网易游戏列表部分----------------------*/
.player p {
    font-weight: 700;
    color: #626262;
    margin: 0 0 4px 6px;
    line-height: 24px;
}

.gametable {
    display: none;
    z-index: 3;
    position: absolute;
    left: 160px !important;
    top: 55px;
}

.player {
    float: left
}

.nav-content {
    float: left;
    list-style: none;
    height: 39px;
    line-height: 39px;
    color: #bc2e2e;
    font-size: 14px;
    text-indent: 20px;
    background: #f7f7f8;
    border-right: 1px solid #eee;
}

.xiuxian {
    border-right: 1px solid #eee;
    position: relative
}

.xiuxian a {
    width: 105px
}

.more-game {
    background: #bc2e2e;
    border-radius: 2px;
    width: 20px !important;
    height: 95px;
    line-height: 14px !important;
    color: #FFFFFF !important;
    vertical-align: middle;
    text-align: center;
    ;
    padding: 7px 0 0 10px !important;
    margin-left: 6px !important;
    position: absolute;
    right: 0;
    top: 123px;
}

.recommend {
    border-right: 1px solid #eee;
    width: 148px;
    box-sizing: border-box
}

.newrecommend {
    width: 421px;
    box-sizing: border-box;
    height: 415px;
    border-right: 1px solid #eee;
    position: relative
}

.box1 {
    width: 125px;
    height: 415px;
    text-align: left;
    float: left;
}

.box2 {
    width: 115px;
}

.help {
    width: 117px
}

.game-logo {
    background: url("../images/gamemenu-pic.png")no-repeat;
    background-position: 0 -334px;
    text-indent: 23px;
    color: #bc3030 !important;
}

.mix {
    width: 402px;
    height: 24px;
    padding: 0;
}

.top-list {
    width: 100%;
    height: 435px;
    margin: 0;
    padding: 0;
    background-color: #fdfefe;
    box-sizing: none;
}

/*------------------------网易游戏列表部分----------------------*/

ol li a {
    text-decoration: none;
    color: lime;
    width: 30px;
    padding: 12px;
    font-size: 14px;
    font-weight: 700;
}

ol li {
    display: inline;
    /*list-style: none;*/
}

ol {
    color: lime;
}

.top_list {
    height: 55px;
    line-height: 52px;
    color: #333;
    background: #fbfbfb;
}

.clearfix:after {
    content: '';
    display: block;
    clear: both;
}

/*--------------------正文部分---------*/
.head-flash {
    position: absolute;
    ;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -3;
    top: 55px
}

.flash-box {
    position: absolute;
    left: 50%;
    margin-left: -960px;
    width: 1920px;
    height: 1080px;
    z-index: 1;
}



.bg10 {
    background: url("../images/bg_10.png") no-repeat center top;
    height: 406px;
}

.bg11 {
    background: url("../images/bg_11.png") no-repeat center top;
    height: 741px;
}

.bg02 {
    background: url("../images/bg_02.png") no-repeat center top;
    height: 1100px;
}

.bg03 {
    background: url("../images/bg_03.png") no-repeat center top;
    margin-top: -336px;
    height: 1100px;
}

.table-title li {
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-weight: 700;
}

.table-title {
    position: absolute;
    left: 90px;
    top: -7px;
}

.table-title a {
    color: #FFFFFF !important;
    width: 83px;
    float: left;
    line-height: 30px;
    height: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
}

.table-list {
    position: absolute;
    left: 197px;
    top: 25px;
}

.table-list li a {
    display: block;
    width: 93px;
    height: 24px;
    color: #fff;
    font-size: 14px;
}

.table-list li {
    float: left;
    vertical-align: center;
}

.title-list p {
    width: 10px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    display: inline-block;
    float: left
}

.i-hot {
    background: url("../images/H.png")no-repeat;
    margin-left: 3px;
    width: 11px;
    height: 11px;
    line-height: 24px;
    background-position: 0 0;
    display: inline-block;
    vertical-align: middle;
}

.nav-table {
    width: 977px;
    height: 270px;
    margin: auto;
    position: relative;
    margin-top: 28px
}

.table-box {
    width: 1170px;
    height: 325px;
    margin: auto;
    position: relative;
    padding-top: 25px;
    z-index: 1
}

.table-logo {
    width: 200px;
    height: 98px;
    margin-right: 15px;
    background: url("../images/table-logo.png");
    display: block;
    float: left
}

.star-logo {
    display: block;
    position: absolute;
    width: 110px;
    height: 107px;
    background: url("../images/table-star.png");
    right: 94px;
    bottom: 15%;
    z-index: 5
}

.table-happy {
    display: block;
    position: absolute;
    right: -186px;
    bottom: -4%;
    background: url("../images/table-happy.png");
    width: 405px;
    height: 309px;
    z-index: 4;
}

/*--------------------part01------------------------*/

.part01 {
    width: 1170px;
    height: 460px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.part01-box01 {
    width: 190px;
    height: 459px;
    float: left;
    margin-right: 20px;
    background: burlywood
}


.part01-box03 {
    width: 478px;
    height: 460px;
    background: #FFFFFF;
    float: left;
}

/*--------------------part01--box01----------------------*/

.part01-box01 {
    display: block
}

.btn-dl {
    display: block;
    width: 100%;
    box-sizing: border-box;
}

.JpcDownload {
    width: 100%;
    height: 100px;
    background: url("../images/btn_dl_01.png")no-repeat;
    color: white;
    position: relative;
}

.btn-icon {
    top: 30px;
    left: 60px;
    right: 120px;
    margin-left: -40px;
    background: url("../images/spriter.png");
    background-position: -380px -221px;
    width: 50px;
    height: 44px;
    display: inline-block;
    position: absolute;
}

.arrow-box {
    width: 32px;
    height: 24px;
    position: absolute;
    top: 50%;
    left: 45px;
    margin: -13px 0 0 -16px;
    overflow: hidden;
}

.i-arrow {
    width: 22px;
    height: 24px;
    background: url(../images/spriter.png), no-repeat;
    background-position: -414px -327px;
    position: absolute;
    left: 50%;
    margin-left: -11px;
    top: -3px;
    transition: 0.4s;
}

.i-arrow::after {
    content: "";
    width: 22px;
    height: 24px;
    background: url(../images/spriter.png), no-repeat;
    background-position: -414px -328px;
    position: absolute;
    left: 50%;
    margin-left: -11px;
    top: -26px;
}

.JpcDownload:hover .i-arrow {
    transform: translateY(27px)
}


.dec {
    height: 26px;
    line-height: 26px;
    position: absolute;
    left: 78px;
    top: 26px;
    font-size: 18px;
    color: #fefefe;
    text-align: center;
    cursor: pointer;

}

.JbtnHutong {
    display: block;
    width: 100%;
    height: 99px;
    background: url("../images/btn_dl_02.png")no-repeat;
    position: relative;
}

.JbtnHutong:hover .i-arrow {
    transform: translateY(28px)
}

.JbtnHutong .btn-icon {
    width: 35px;
    height: 47px;
    background-position: -380px -174px;
    left: 45px;
    top: 23px;
    margin-left: -17px;
}

.JbtnHutong .dec {
    margin-left: 0px;
    left: 72px;
    padding-bottom: 5px;
    height: 38px;
    text-align: center;
    line-height: 18px;
    top: 50%;
    margin-top: -19px;
}

.btn-desc {
    font-style: normal;
    /* 斜体变正体 */
    color: #f7b0b4;
    font-size: 12px;
}

.JbtnHelp {
    width: 100%;
    height: 98px;
    background: url("../images/btn_dl_02.png")no-repeat;
    position: relative;
    transition: 1s;
}

.JbtnHelp .i-arrow::after {
    content: "";
    width: 41px;
    height: 41px;
    background: url(../images/spriter.png), no-repeat;
    background-position: -93px -328px;
    position: absolute;
    left: 12px;
    top: -41px;
}

.JbtnHelp:hover .i-arrow {
    transform: translateY(41px)
}



.JbtnHelp .arrow-box {
    /* overflow: initial; */
    width: 41px;
    height: 41px;
    top: 50%;
    margin-top: -20.5px;
    left: 42px;
    margin-left: -16px;
}

.JbtnHelp .i-arrow {
    width: 41px;
    height: 41px;
    background-position: -93px -328px;
    left: 0;
    top: 0;
    margin: 0;
}

.JbtnHelp .dec {
    left: 72px;
}

.btns-box {
    width: 100%;
    height: 100px;
    background-color: #3b8bed;
}


.btns-01 i {
    transition: 0.4s
}

.btns-01:hover,
.btns-02:hover,
.cantact:hover {
    color: #fff;
}

.btns-01:hover i {
    transform: translateY(40px)
}

.btns-01 .i_public::after {
    content: "";
    display: block;
    width: 25px;
    height: 33px;
    background: url(../images/spriter.png), no-repeat;
    background-position: -415px -174px;
    left: 0;
    top: -40px;
    position: absolute;
}

.btns-01-02_public {
    display: block;
    width: 190px;
    height: 50px;
    position: relative;
    padding-left: 71px;
    line-height: 50px;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
}

.span_public {
    overflow: hidden;
    display: block;
    position: absolute;
    left: 31px;
    top: 50%;
    margin-top: -16.5px;
}

.i_public {
    display: block;
    width: 25px;
    height: 33px;
    background: url(../images/spriter.png), no-repeat;
    background-position: -415px -174px;
}

.btns-02 {
    width: 119px;
    border-top: solid 1px #2a73cc;
}

.btns-02 .i_public::after {
    /* 记住：content: ""; */
    content: "";
    position: absolute;
    left: 0;
    top: -30px;
    width: 30px;
    height: 30px;
    background: url(../images/spriter.png), no-repeat;
    background-position: -286px -199px;
}

.btns-02:hover .i_public {
    transform: translateY(30px)
}

.btns-02 .i_public {
    width: 30px;
    height: 30px;
    background-position: -286px -199px;
    transition: 0.4s;
}


.cantact {
    background-color: #2a7bdf;
    height: 38px;
    width: 119px;
    line-height: 18px;
    padding: 12px 0 12px 71px;
    font-size: 14px;
}

.cantact .span_public {
    width: 24px;
    height: 27px;
}

.cantact .i_public {
    background-position: -390px -328px;
    transition: 0.4s
}

.cantact .i_public::after {
    content: "";
    width: 24px;
    height: 27px;
    background: url(../images/spriter.png), no-repeat;
    background-position: -390px -328px;
    position: absolute;
    left: 0px;
    top: -27px;
}

.cantact:hover .i_public {
    transform: translateY(27px);
}

/* --------------part01--box02--------------------------- */
.part01-box02 {
    margin-right: 20px;
    background: url("../images/table-box-part01-box02-time.jpg");
    display: block;
    float: left;
    position: relative;
    width: 462px;
    height: 460px;
    position: relative;
    z-index: 0;
}

.slide_box {
    position: absolute;
    z-index: 1;
}

.slide_box a:nth-child(1) img {
    display: block;
}

.slide_box .banner_img {
    width: 462px;
    height: 460px;
    display: none;
}

.banner-nav {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;
    width: 120px;
    height: 40px;
    background: #333e50;
    z-index: auto;
}

.banner-nav a {
    display: block;
    line-height: 40px;
    float: left;
    font-size: 16px;
    color: #fff;
    min-width: 60px;
    text-align: center;
    display: block;
    line-height: 40px;
    float: left;
    font-size: 16px;
    color: #fff;
    min-width: 60px;
    text-align: center;
    cursor: pointer;
}

.on {
    background-color: #3b8bed;
}

.banner-nav a:nth-child(2)+img {
    width: 462px;
    height: 460px;
    position: absolute;
    z-index: -1;
    left: -342px;
    top: 0;
    opacity: 0;
    transition: 1s;
}

.banner-nav a:nth-child(2):hover+img {
    opacity: 1;
}

.banner-item-nav {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 462px;
    height: 60px;
    z-index: auto;
    font-size: 0;
    background-color: rgba(0, 0, 0, .8);
}


.banner-item-nav a {
    line-height: 60px;
    width: 20%;
    height: 60px;
    /* background-color: lime; */
    float: left;
    text-align: center;
    color: #8b8989;
}

.ib_nav {
    font-size: 14px;
    line-height: 18px;
    display: inline-block;
    vertical-align: middle;
    font-style: normal;
    padding: 0 10px;
    text-align: center;
}

.banner-item-nav a:nth-child(1):hover {
    background-color: #3b8bed;
    color: white;
}

.banner-item-nav a:nth-child(1) img {
    width: 462px;
    height: 460px;
    ;
    border: 1px solid block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: 1s;
}

.banner-item-nav a:nth-child(1):hover img {
    opacity: 1;
}

.banner-item-nav a:nth-child(1):hover {
    background-color: #3b8bed;
    color: white;
}


.banner-item-nav a:nth-child(2):hover {
    background-color: #3b8bed;
    color: white;
}

.banner-item-nav a:nth-child(2) img {
    width: 462px;
    height: 460px;
    ;
    border: 1px solid block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: 1s;
}

.banner-item-nav a:nth-child(2):hover img {
    opacity: 1;
}



.banner-item-nav a:nth-child(3):hover {
    background-color: #3b8bed;
    color: white;
}

.banner-item-nav a:nth-child(3) img {
    width: 462px;
    height: 460px;
    ;
    border: 1px solid block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: 1s;
}

.banner-item-nav a:nth-child(3):hover img {
    opacity: 1;
}


.banner-item-nav a:nth-child(4):hover {
    background-color: #3b8bed;
    color: white;
}

.banner-item-nav a:nth-child(4) img {
    width: 462px;
    height: 460px;
    ;
    border: 1px solid block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: 1s;
}

.banner-item-nav a:nth-child(4):hover img {
    opacity: 1;
}



.banner-item-nav a:nth-child(5):hover {
    background-color: #3b8bed;
    color: white;
}

.banner-item-nav a:nth-child(5) img {
    width: 462px;
    height: 460px;
    ;
    border: 1px solid block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
    transition: 1s;
}

.banner-item-nav a:nth-child(5):hover img {
    opacity: 1;
}

/* --------------part01--box03--------------------------- */
.news-nav {
    width: 100%;
    height: 60px;
    position: relative;
}

.news-nav>a:nth-child(-n+5) {
    /* 用空格选取不准确 */
    /* 兄弟选择器 ~ */
    width: 75px;
    height: 57px;
    color: #3c3c3c;
    line-height: 57px;
    border-top: 3px solid transparent;
    display: inline-block;
    font-size: 16px;
    text-align: center;
}

.news-nav>a:nth-child(6) {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -8.5px;
    width: 40px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    font-size: 14px;
    color: #000;
    transition: all ease-out 0.3s
}


.news-nav>a:nth-child(6):hover {
    color: #f24854;
    text-indent: 5px;
}

.news-nav>a:nth-child(6):hover i {
    display: none;
}

.news-nav>a:nth-child(6) span {
    float: left;
}

.news-nav>a:nth-child(6) i {
    display: block;
    width: 4px;
    height: 7px;
    margin-top: 6px;
    float: right;
    background: url("../images/spriter.png") no-repeat;
    background-position: -434px -230px;
}





.news-nav>a:nth-child(-n+5):hover {
    border-top: 3px solid #f24854;
}

/* .media{
    opacity: 1!important;
} */
.news-nav>a:nth-child(1)~.composite {
    display: block;
}

.news-nav>a:nth-child(2):hover~.maintain {
    display: block;
}

.news-nav>a:nth-child(3):hover~.special {
    display: block;
}

.news-nav>a:nth-child(4):hover~.forum {
    display: block;
}

.news-nav>a:nth-child(5):hover~.media {
    display: block;
}

.news-nav .news-box {
    position: absolute;
    width: 478px;
    height: 398px;
    display: none;
    /* opacity: 0; */
    transition: 1s;
    z-index: 2;
    background-color: white;
}



.news-box .news-item:nth-child(1) {
    width: 478px;
    height: 398px;
}

.news-box .news-item:nth-child(1) img {
    display: block;
    width: 150px;
    height: 113px;
    margin-right: 25px;
    float: left;
}

.news-box .news-item:nth-child(1) em {
    display: block;
    margin-bottom: 15px;
    display: block;
    color: #f24854;
    font-size: 16px;
    line-height: 18px;
    height: 18px;
    font-style: normal;
    text-align: left;
}

.news-box .news-item:nth-child(1) .news-pic span {
    display: block;
    line-height: 25px;
    font-size: 14px;
    color: #3c3c3c;
    height: 75px;
    text-overflow: ellipsis;
    text-align: left;
}


.news-box .news-item:nth-child(1) .news-pic {
    display: block;
    width: 438px;
    height: 113px;
    margin: 0 20px;
    padding: 27px 0 23px 0;
    border-bottom: dotted 1px #dadada;
}

.news-box .news-item:nth-child(1) ul {
    width: 438px;
    height: 219px;
    padding: 15px 20px 0 20px;
}








/* ----------------------li通用设置 -----------------*/
.news-box .news-item:nth-child(1) li a {
    display: block;
    width: 378px;
    padding-right: 60px;
    height: 34px;
    overflow: hidden;
    line-height: 34px;
    position: relative;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    color: #3c3c3c;
    font-size: 14px;
    font-family: initial;
    text-align: left;
}

.news-box .news-item:nth-child(1) ul li a .time {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: #b8b8b9;
    line-height: 34px;
    height: 34px;
    padding: 0 5px;
    text-align: center;
}

/* -------------------首个li设置 -----------------*/
.news-box .news-item:nth-child(1) ul .top-news a {
    height: 38px;
    line-height: 38px;
    width: 418px;
    padding-right: 20px;
    background: #f5f7f9;
    font-size: 16px;
    font-weight: 700;
}

.news-box .news-item:nth-child(1) ul a:hover {
    color: #f24854;
}



.news-box .news-item:nth-child(1) .top-news .recom {
    width: 42px;
    height: 38px;
    display: block;
    background-color: #f24854;
    float: left;
    text-align: center;
    line-height: 38px;
    color: white;
    font-size: 14px;
    font-weight: 700;
    position: relative;
    margin-right: 12px;
}

.news-box .news-item:nth-child(1) .top-news i {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px;
    border-color: transparent transparent transparent #f24854;
    position: absolute;
    top: 50%;
    margin-top: -5px;
    right: -9px;
}

.news-box .news-item:nth-child(1) .top-news .column {
    font-size: 14px;
    color: #3c3c3c;
    font-weight: 500;
}





/*--------------------part02----------------------*/
.part02 {
    box-sizing: border-box;
    height: 380px;
    margin-bottom: 20px;
}

/*--------------------part02-box01----------------------*/
.part02-box01 {
    height: 380px;
    background-color: #08bad7;
}

.btn-cangbaoge {
    display: block;
    width: 100%;
    height: 62px;
    line-height: 62px;
    background: url(../images/spriter.png);
    background-position: -190px -230px;
    position: relative;
}

.btn-cangbaoge span {
    display: block;
    overflow: hidden;
    width: 48px;
    height: 39px;
    position: absolute;
    left: 18px;
    top: 50%;
    margin-top: -19.5px;
}

.btn-cangbaoge i {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/spriter.png);
    background-position: -134px -328px;
    transition: 0.4s;
}

.btn-cangbaoge i::after {
    content: "";
    width: 48px;
    height: 39px;
    background: url(../images/spriter.png);
    background-position: -134px -328px;
    position: absolute;
    left: 0;
    top: -39px;
}

.btn-cangbaoge:hover i {
    transform: translateY(39px);
}


/* -----------------------li通用设置 -------------------*/

.entrance-box li a {
    display: block;
    width: 119px;
    height: 64px;
    background-color: #00a5c0;
    padding-left: 71px;
    font-size: 14px;
    line-height: 64px;
    color: #fff;
    position: relative;
}

.entrance-box li a:hover {
    background: #0197b0;
}

/* 分别设置图标    entrance-02*/
.entrance-02 em {
    display: block;
    width: 33px;
    height: 31px;
    position: absolute;
    left: 29px;
    top: 50%;
    margin-top: -15.5px;
    overflow: hidden;
}

.entrance-02 i {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/spriter.png);
    background-position: -253px -199px;
    transition: 0.4s;
}

.entrance-02 i::after {
    content: "";
    display: block;
    width: 33px;
    height: 31px;
    background: url(../images/spriter.png);
    background-position: -253px -199px;
    position: absolute;
    left: 0;
    top: -31px;
}

.entrance-02 a:hover i {
    transform: translateY(31px)
}

/* 分别设置图标    entrance-03*/
.entrance-03 em {
    display: block;
    width: 28px;
    height: 36px;
    position: absolute;
    left: 29px;
    top: 50%;
    margin-top: -18px;
    overflow: hidden;
}

.entrance-03 i {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/spriter.png);
    background-position: -190px -292px;
    transition: 0.4s;
}

.entrance-03 i::after {
    content: "";
    display: block;
    width: 28px;
    height: 36px;
    background: url(../images/spriter.png);
    background-position: -190px -292px;
    position: absolute;
    left: 0;
    top: -36px;
}

.entrance-03 a:hover i {
    transform: translateY(36px)
}

/* 分别设置图标    entrance-04*/
.entrance-04 em {
    display: block;
    width: 32px;
    height: 31px;
    position: absolute;
    left: 29px;
    top: 50%;
    margin-top: -15.5px;
    overflow: hidden;
}

.entrance-04 i {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/spriter.png);
    background-position: -221px -199px;
    transition: 0.4s;
}

.entrance-04 i::after {
    content: "";
    display: block;
    width: 32px;
    height: 31px;
    background: url(../images/spriter.png);
    background-position: -221px -199px;
    position: absolute;
    left: 0;
    top: -31px;
}

.entrance-04 a:hover i {
    transform: translateY(31px)
}

/* 分别设置图标    entrance-05*/
.entrance-05 em {
    display: block;
    width: 30px;
    height: 32px;
    position: absolute;
    left: 29px;
    top: 50%;
    margin-top: -16px;
    overflow: hidden;
}

.entrance-05 i {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/spriter.png);
    background-position: -250px -292px;
    transition: 0.4s;
}

.entrance-05 i::after {
    content: "";
    display: block;
    width: 30px;
    height: 32px;
    background: url(../images/spriter.png);
    background-position: -250px -292px;
    position: absolute;
    left: 0;
    top: -32px;
}

.entrance-05 a:hover i {
    transform: translateY(32px)
}

/* 分别设置图标    entrance-06*/
.entrance-06 em {
    display: block;
    width: 30px;
    height: 28px;
    position: absolute;
    left: 29px;
    top: 50%;
    margin-top: -14px;
    overflow: hidden;
}

.entrance-06 i {
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/spriter.png);
    background-position: -306px -328px;
    transition: 0.4s;
}

.entrance-06 i::after {
    content: "";
    display: block;
    width: 30px;
    height: 28px;
    background: url(../images/spriter.png);
    background-position: -306px -328px;
    position: absolute;
    left: 0;
    top: -28px;
}

.entrance-06 a:hover i {
    transform: translateY(28px)
}



/*--------------------part02-box02----------------------*/

.part02-box02 {
    background: #FFFFFF;
    height: 380px;
    width: 420px;
    padding: 0 20px;
    position: relative;
}

 .box_title {
    width: 420px;
    height: 60px;
    line-height: 60px;
    position: relative;
    font-size: 20px;
    color: #3c3c3c;
    font-weight: 400;
    border-bottom: solid 1px #e8e8e8;

}

/* 梦幻热点文字 */
.part02-box02 .box_title h4 {
    font-weight: 400;
}

/* 订阅 */
.part02-box02 .order-btn {
    position: absolute;
    right: 62px;
    top: 21px;
    width: 58px;
    height: 24px;
    background: url(../images/spriter.png)no-repeat;
    background-position: -58px -371px;
}

/*  更多部分 */
.part02-box02 .box_title>a {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -8.5px;
    width: 40px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    font-size: 14px;
    color: #000;
    transition: all ease-out 0.3s
}

.part02-box02 .box_title>a:hover {
    color: #f24854;
    text-indent: 5px;
}

.part02-box02 .box_title>a:hover i {
    display: none;
}

.part02-box02 .box_title a span {
    float: left;
}

.part02-box02 .box_title a i {
    display: block;
    width: 4px;
    height: 7px;
    margin-top: 6px;
    float: right;
    background: url("../images/spriter.png") no-repeat;
    background-position: -434px -230px;
}

/* 热点滑动内容部分 */
.part02-box02 .hot_news_box {
    margin-top: -2px;
    position: absolute;
}

.part02-box02 .hot_news_box>span:nth-child(-n+6) {
    display: block;
    width: 84px;
    height: 42px;
    border-top: 3px solid transparent;
    text-align: center;
    line-height: 42px;
    font-size: 14px;
    color: #3c3c3c;
    float: left;
    margin-bottom: 20px;
}

.part02-box02 .hot_txt_list {
    position: absolute;
    left: 0px;
    top: 62px;
    z-index: 2;
    width: 420px;
    display: none;
    background-color: white;
}

.hot_news_box>span:nth-child(-n+6):hover {
    color: #f24854;
    border-top: 3px solid #f24854;
}

/* 首个li中推荐图标设置 */
.hot_txt_list>li:nth-child(1) a {
    width: 331px;
    height: 24px;
    position: relative;
    padding: 0 0 14px 49px;
    line-height: 24px;
    color: #f24854;
    font-size: 16px;
}

.hot_txt_list>li a:hover {
    color: #f24854;
}

.hot_txt_list li i {
    position: absolute;
    left: 0px;
    top: 0px;
    display: block;
    font-size: 14px;
    width: 40px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    background: #f24854;
    color: #fff;
    font-style: normal;
}

/* list 中 li 通用设置 */
.hot_txt_list>li {
    border-bottom: dotted 1px #dadada;
    width: 100%;
}

.hot_txt_list>li>a {
    display: block;
    font-size: 14px;
    color: #3c3c3c;
    width: 100%;
    height: 38px;
    line-height: 38px;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/*:hover盒子组合 hot_list01 hot_list02  hot_list03  hot_list04 */
.hot_news_box>span:nth-child(1)~.hot_list01 {
    z-index: 1;
    display: block !important;
}

.hot_news_box>span:nth-child(2):hover~.hot_list02 {
    display: block !important;
}

.hot_news_box>span:nth-child(3):hover~.hot_list03 {
    display: block !important;
}

.hot_news_box>span:nth-child(4):hover~.hot_list04 {
    display: block !important;
}


/*--------------------part02-box03----------------------*/

.part02-box03 {
    width: 230px;
    height: 380px;
    margin-right: 18px;
    float: left;
    background: #FFFFFF;
    box-sizing: border-box
}

.xinfu-box {
    background: url(../images/part02-box03-pic.jpg);
    width: 230px;
    height: 300px;
    position: relative;
}

.xinfu-box h4 a {
    position: absolute;
    left: 22px;
    top: 31px;
    font-size: 22px;
    line-height: 24px;
    font-weight: 400;
    color: #f24854;
}

.xinfu-box ul {
    padding: 88px 0 0 20px;
}

.xinfu-box ul>li:nth-child(1) {
    margin-bottom: 28px;
}

.xinfu-box li a {
    color: #3c3c3c;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;

}


.xinfu-box li span {
    font-weight: 400;
    font-size: 14px;
}

.xinfu-list {
    font-size: 0;
    position: relative;
    width: 100%;
    height: 80px;
    background: #3b8bed;
}

.xinfu-list>a {
    width: 50%;
    height: 80px;
    line-height: 80px;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    text-align: center;
    transition: 0.4s
}

.xinfu-list>a:hover {
    background: #2a7bdf;
}

.xinfu-list>a:hover~i {
    opacity: 0;
}

.xinfu-list i {
    position: absolute;
    display: block;
    z-index: 2;
    top: 50%;
    margin-top: -10px;
    left: 50%;
    width: 1px;
    height: 20px;
    background: #7ab0f3;
}







/*--------------------part02-box04----------------------*/
.part02-box04 {
    float: left;
    margin: 0;
    width: 230px;
    height: 380px;
    background: #FFFFFF;
    box-sizing: border-box;
}

.part02-box04>.xinfu-box {
    background: url(../images/part02-box04-pic.jpg) no-repeat;
}

.part02-box04 .saishi_title {
    position: absolute;
    left: 21px;
    top: 64px;
    font-size: 16px;
}

.part02-box04 ul {
    position: absolute;
    padding: 0;
    left: 22px;
    top: 101px;
}

.part02-box04 ul>li {
    margin: 0px!important;
    height: 21px;
    padding-left: 10px;
    width: 100%;
    background:url(../images/part02-box04-arrow.jpg)no-repeat;
    background-position:0 7px ;
}

.part02-box04 ul li a {
    font-size: 14px;
    height: 21px;
    font-weight: 400;
}
.part02-box04 ul li a:hover,.saishi_title:hover{
    color: #f24854;
}
.part02-box04 ul li a span{
    float: right;
}
.part02-box04 .saishi_list{
    background-color: #00a5c0;
}
.part02-box04 .saishi_list a:hover{
    background-color: #0197b0;
}

/*--------------------part03----------------------*/

.part03 {
    height: 380px;
}

/*--------------------part03-box01----------------------*/

.part03-box01 {
    height: 380px;
    background-color: #445366;
    color: #b3bed2;
    padding: 0 20px;
    width: 150px;
    font-style:"Microsoft YaHei",simSun,"Lucida Grande","Lucida Sans Unicode",Arial;
}
.part03-box01>.box-title{
    border-bottom: 1px solid #808a97;
    width: 100%;
    font-weight: 400;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    text-align: center;

}
.part03-box01 ul li a{
    display: block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    padding-left: 6px;
    font-size: 14px;
    color: #b3bed2;
    transition: all ease .3s;
    font-weight: 400;
}
.part03-box01 ul li a:hover{
    color: white;
}



/*--------------------part03-box02----------------------*/

.part03-box02 {
    width: 670px;
    padding: 0 20px 0 20px;
    height: 380px;
    margin-right: 20px;
    background: #FFFFFF;
    float: left;
    padding: 0 20px;
}
.part03-box02 .box_title{
    width: 670px;
}
.part03-box02 .hot_news_box>span{
   width: 100px!important;
}

.part03-box02 .hot_news_box>span:nth-child(1):hover~.wst_list{
    opacity: 1;
}


/* slide 滑动部分 首个li设置 */
.part03-box02 .wst_list{
    position: absolute;
    left: 0px;
    top: 62px;
    width: 680px;
    height: 246px;
    font-size: 0%;
    margin-left: -10px;
    z-index: -1;
    /* opacity: 0; */
    transition: 0.4s;
}


.part03-box02 .wst_list li  {
    display: flex;
    width: 18.53%;
    height: 113px;
    /* display: flex; */
    margin: 0 0 10px 10px;
    float: left;
   }
   .part03-box02 .wst_list  img {
       display: block;
    width: 100%;
    height: 95px;
  
   }


.part03-box02 .wst_list li a {
    position: relative;
    width: 100%;
 display: block;
}
.part03-box02 .wst_list li span{
    display:block;
    height: 18px;
    line-height: 18px;
    color: #3c3c3c;
    text-align: center;
    font-size: 14px;
    width: 86px;
    padding: 0 20px;
    /* white-space: nowrap; */
    /* text-overflow:clip; */
   }
   .part03-box02 .wst_list li span i{
     display: block;
     height: 18px;
     font-style: normal;
     transition: 0.3s;
     overflow: hidden;
   }
   .part03-box02 .wst_list .i-mask{
    display: block;
    width: 100%;
    height: 95px;
    position: absolute;
    z-index: 1;
    left:0px;
    top:0px;
    background: rgba(0,0,0,.3);
    opacity:1 ;
    transition: 0.4s;
   }

   .i-video{
       background: url("../images/spriter.png") no-repeat;
       background-position: -363px -328px;
       display: none!important;
   }

.part03-box02 .wst_list .i-mask:hover{
    opacity:0 ;
}

.part03-box02 .wst_list .i-mask:hover~span>.i-txt{
    font-size: 14px;
    color: white;
    overflow: visible;
}
.part03-box02 .wst_list .i-mask:hover~span .i-video{
    margin: 0 auto;
    width: 27px;
    height: 27px;
    margin-bottom:5px; 
    display: block!important;
}




.part03-box02 .wst_list .i-mask:hover~span{
    transform: translateY(-80px)
}





.hot_news_box>span:nth-child(5):hover~.hot_list04 {
    display: block !important;
}
.hot_news_box>span:nth-child(6):hover~.hot_list04 {
    display: block !important;
}









/*--------------------part03-box03----------------------*/

.part03-box03 {
    height: 380px;
    float: left;
    width: 230px;
    margin-right: 0;
}

.part04 {
    width: 100%;
    margin-bottom: 20px;
    height: 230px;
    background: #71b5fd
}

.part05 {
    height: 380px;
}

.part06,
.part06-box01,
.part06-box02,
.part06-box03 {
    height: 380px
}

.part07,
.part07-box01,
.part07-box02 {
    height: 230px;
}

.part07-box02 {
    width: 960px;
    background: #FFFFFF;
    float: left
}

.footer {
    background: url("../images/footer-picture.png")no-repeat;
    background-size: cover;
    width: 100%;
    overflow: hidden;
    height: 818px;
}