@border-color: #ebeef5;

.table-container {
    margin-top: 20px;
    // .bd(@border-color);
    // border:3px solid red;
    border-right: 1px solid @border-color;
    border-bottom: 1px solid @border-color;
    width: 100%;

    table {
        width: 100%;

        th {
            padding: 12px 0;
            border-left: 1px solid@border-color;
            border-top: 1px solid@border-color;
            width: 20%;
            color: #909399;

            .input-type {
                width: 13px;
                height: 13px;
                border: 1px solid #e2e2e2;
                background: none;
                box-shadow: none;
                -webkit-appearance: none;
                appearance: none;
                display: inline-block;
                margin: 0 2px 2px 0;
                cursor: pointer;
                outline: none;
                vertical-align: middle;
                border: 1px solid #e2e2e2;

                &:checked {
                    border: 1px solid #409eff;
                    background-color: #409eff;
                }

                &:checked::before {
                    content: "";
                    display: block;
                    position: relative;
                    width: 3px;
                    height: 6px;
                    left: 34%;
                    top: 9%;
                    border-right: 1px solid #fff;
                    border-bottom: 1px solid #fff;
                    transform: rotate(45deg);
                    background: none;
                }

                &:hover {
                    transition: 0.25s;
                    border-color: #409eff;
                }
            }

        }

        th:nth-child(1) {
            width: 6%!important;
        }
        th:nth-child(2),th:nth-child(3),th:nth-child(5) {
            width: 12%!important  ;
        }
        th:nth-child(4) {
            width: 12%!important  ;
        }
        th:nth-child(6) {
            width:8%!important  ;
        }

        // th:nth-last-child(2) {
        //     width: 8%;
        // }

        // th:nth-child(1) {
        //     width: 5%;
        // }

        td {
            padding: 12px 0;
            border-left: 1px solid@border-color;
            border-top: 1px solid @border-color;
            text-align: center;
            font-size: 14px;
            color: #303133;

            .input-type {
                width: 13px;
                height: 13px;
                border: 1px solid #e2e2e2;
                background: none;
                box-shadow: none;
                -webkit-appearance: none;
                appearance: none;
                display: inline-block;
                margin: 0 2px 2px 0;
                cursor: pointer;
                outline: none;
                vertical-align: middle;
                border: 1px solid #e2e2e2;

                &:checked {
                    border: 1px solid #409eff;
                    background-color: #409eff
                }

                &:checked::before {
                    content: "";
                    display: block;
                    position: relative;
                    width: 3px;
                    height: 6px;
                    left: 34%;
                    top: 9%;
                    border-right: 1px solid #fff;
                    border-bottom: 1px solid #fff;
                    transform: rotate(45deg);
                    background: none;
                }

                &:hover {
                    transition: 0.25s;
                    border-color: #409eff;
                }
            }
        }

    }

}