@charset "utf-8";
* {
  margin: 0;
}
/* 
    矢量图标的使用方法：
        1.下载文件找到iconfont.svg文件，复制里面的svg标签整体
        2.下载文件找到iconfont.css,使用@font-face和.iconfont标签内容中写Unicode编码
*/
@font-face {
  font-family: "iconfont";
  src: url('iconfont.eot?t=1547862903071');
  /* IE9 */
  src: url('iconfont.eot?t=1547862903071#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAJsAAsAAAAABiwAAAIgAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAosSAE2AiQDCAsGAAQgBYRtBzsbeQXInpo8KdIy5NgQaKwEZAhHBNF+v9l798XxpBrpnkUTGQ+NkEiQqF46pRKSZ/Lf/2nL3bGGxuX5blnFWmrazvx2py9NbzyP0ygDQoJw9ATPEKBEq/H3iXunf0wOZD6gXPegsSZNGkBdHFCge2AUWQGF3DB2wQt8TKBulGW2dfv8Bnsye1Ugrqsigb1CVJZZoSqUGw5mca+kmm7TN3AXfT/+BLFHUirYLbunNzmcf3JKirs7CQgxAjpeQoFlIBOHjdltC8EkC/XslklwrMbgU7cbeMRRnYL9dXZ9EwzDXPDJWylAgseiDLcmbSHKN7l5pSKc46MtHnngHEWLpxSjXwWHD2dFp/5XGxl8eFtFjmyYH1S38wXfrx44kA2t7U5ZUzeOJ+XjttXV0YWDff6m2gYvVgxVgxP8FSMZClXTZGaXUdKwgrKqVdQtuTve0E8sRK5h0SdA6PGFpO0dhR4/ZGZ/UTLkH2U9sUDdcXBhw2xUBwklSjmmG6wy7o3r1YO48YWKqU0kr42kHyRjlUDf8cqFO+pJltgyLotA1aAR7vAWPEdtyzgI15SpU6oOoeuapjc5GXdwYJMgCUVyKLWBKhnWM8FkdVD5/AtSmLQS0tFXV/1AxKiaHfkc3gDyztQP6nuUV0ZLhYBSBjIE66BbMI+0WgwNzfNqJKMc5YT0IOQ6o8xQk7O9pfu7U1Bn21M4+wq9l1XSK092xsPGdwIAAAA=') format('woff2'), url('iconfont.woff?t=1547862903071') format('woff'), url('iconfont.ttf?t=1547862903071') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */ url('iconfont.svg?t=1547862903071#iconfont') format('svg');
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  height: 100%;
}
.clearfix:after {
  display: block;
  height: 0;
  content: "";
  clear: both;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
}
ul {
  list-style: none;
}
#app {
  height: 100%;
}
.app-wrapper {
  height: 100%;
}
.scroll-container {
  width: 180px;
  height: 100%;
  background: #001529;
  float: left;
  position: fixed;
}
.menu-wrapper {
  width: 100%;
  padding-left: 0;
  box-sizing: border-box;
  vertical-align: middle;
}
.menu-item:hover {
  background: #304156;
}
.menu-item div {
  height: 56px;
  padding: 0 20px;
  line-height: 56px;
  font-size: 0;
  color: #bfcbd9;
  position: relative;
}
.menu-item .menu-logo {
  width: 17px;
  height: 17px;
  display: inline-block;
  margin-right: 16px;
  vertical-align: middle;
  position: relative;
}
.menu-item span {
  vertical-align: middle;
  font-size: 14px;
}
.menu-item .menu-logo .icon {
  position: absolute;
  width: 17px;
  height: 17px;
}
.menu-item .el-menu {
  background: #000c17;
  padding-left: 0px;
}
.menu-item .el-menu li {
  color: rgba(255, 255, 255, 0.65);
  height: 50px;
  line-height: 50px;
  padding-left: 40px;
}
.menu-item .el-menu :hover {
  background: #304156;
}
.menu-icon-arrow {
  line-height: 12px;
  color: #909399;
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -7px;
  font-size: 12px;
  vertical-align: middle;
}
.main-container {
  float: left;
  width: 100%;
  margin-left: 180px;
  width: calc(100% - 180px);
  height: 50px;
}
/* 顶部菜单样式 */
.menu-bar {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #e6e6e6;
  box-sizing: border-box;
  font-size: 0;
}
.menu-bar .hamburger-container {
  width: 20px;
  height: 50px;
  line-height: 50px;
  float: left;
  padding: 0 10px;
}
.menu-bar .hamburger-container .icon {
  vertical-align: middle;
}
.menu-bar span {
  font-weight: 400;
  color: #97a8be;
  cursor: text;
  font-size: 14px;
  line-height: 50px;
}
/* 主内容区域样式 */
/* 
 当元素不存在width属性或者（width：auto）的时候，负margin会增加元素的宽度，看下下面的例子
 */
.app-main {
  width: 100%;
}
.app-main .app-container {
  margin: 40px 120px 0 120px;
  padding: 20px;
}
.app-main .total-layout {
  margin: 0 -10px;
  height: 100px;
}
.app-main .total-frame {
  width: 25%;
  height: 100%;
  float: left;
  padding: 0 10px;
  box-sizing: border-box;
}
.app-main .total-frame div {
  height: 100%;
  padding: 20px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  position: relative;
}
.app-main .total-frame div .total-title {
  position: absolute;
  font-size: 16px;
  color: #909399;
  right: 6px;
  top: -10px;
}
.app-main .total-frame div .total-value {
  position: absolute;
  font-size: 18px;
  color: #606266;
  left: 90px;
  top: 20px;
}
.app-main .un-handle-layout {
  margin-top: 20px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  width: 100%;
  height: 210px;
}
.app-main .un-handle-layout .layout-title {
  color: #606266;
  padding: 15px 20px;
  background: #f2f6fc;
  font-weight: 700;
}
.app-main .un-handle-layout .un-handle-content {
  padding: 20px 40px;
}
.app-main .un-handle-layout .un-handle-content .el-row .un-handle-item-warpper {
  width: calc(33.33333333%);
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.app-main .un-handle-layout .un-handle-content .el-row .un-handle-item-warpper .un-handle-item {
  height: 18.4px;
  padding: 10px;
  border-bottom: 1px solid #ebeef5;
  font-size: 16px;
  color: #606266;
}
.app-main .un-handle-layout .un-handle-content .el-row .un-handle-item-warpper .un-handle-item .color-danger {
  color: #f56c6c;
}
.app-main .overview-layout {
  margin: 20px -10px 0 -10px;
  box-sizing: border-box;
  height: 186px;
}
.app-main .overview-warpper {
  width: 50%;
  float: left;
  box-sizing: border-box;
}
.app-main .overview-warpper .layout-title {
  color: #606266;
  padding: 15px 20px;
  background: #f2f6fc;
  font-weight: 700;
  margin: 0 10px;
  border: 1px solid #dcdfe6;
  border-bottom: 0;
}
.app-main .overview-warpper .layout-content {
  margin: 0 10px;
  border: 1px solid #dcdfe6;
  border-top: 0;
}
.app-main .overview-warpper .layout-content .el-row {
  padding-left: 0px;
  font-size: 24px;
  text-align: center;
  color: #f56c6c;
  box-sizing: border-box;
  overflow: hidden;
}
.app-main .overview-warpper .layout-content .el-row li {
  float: left;
  width: 25%;
}
.app-main .overview-warpper .layout-content .black-color {
  color: #606266;
}
.app-main .overview-warpper .layout-content .black-color li {
  font-size: 16px;
  color: #606266;
}
.app-main .statistics-layout {
  margin-top: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 480px;
  border: 1px solid #dcdfe6;
  background: lime;
}
.app-main .statistics-layout img {
  width: 100%;
  height: 100%;
}
.member-info .app-container {
  vertical-align: middle;
  padding: 20px;
}
.member-info .app-container .el-serch-wrap {
  margin-top: 20px;
  border: 1px solid #ebeef5;
  background-color: #fff;
  color: #303133;
  border-radius: 4px;
  border: none;
}
.member-info .app-container .el-serch-wrap > .el-title-body {
  padding: 20px;
  vertical-align: middle;
  border: 1px solid #ebeef5;
}
.member-info .app-container .el-serch-wrap > .el-title-body .doc-logo {
  display: inline-block !important;
  line-height: 20px;
  vertical-align: middle;
}
.member-info .app-container .el-serch-wrap > .el-title-body .add {
  float: right;
  padding: 9px 15px;
  font-size: 12px;
  border-radius: 3px;
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  background: #409eff;
  border: 1px solid #dcdfe6;
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
}
.member-info .app-container .el-serch-wrap > .el-title-body .el-form-item {
  margin: 15px 10px 18px 55px;
  display: inline-block;
}
.member-info .app-container .el-serch-wrap > .el-title-body .el-form-item > span {
  font-size: 14px;
  line-height: 32px;
  color: #606266;
  padding-right: 12px;
}
.member-info .app-container .el-serch-wrap > .el-title-body .el-form-item input {
  height: 32px;
  line-height: 32px;
  background-color: #fff;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  font-size: 13px;
  padding: 0 15px;
}
.member-info .app-container .el-serch-wrap > .el-title-body .el-form-item input::-webkit-input-placeholder {
  color: #dcdfe6;
  font-size: 13px;
}
.member-info .app-container .el-serch-wrap > .el-title-body .el-form-item .bootstrap-select {
  width: 185.6px !important;
}
.member-info .app-container .el-serch-wrap > .el-title-body .el-form-item .bootstrap-select button {
  background: #fff;
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  height: 32px;
  font-size: 13px;
  margin-top: -1px;
}
.member-info .app-container .el-serch-wrap > .el-title-body .el-form-item .bootstrap-select button .caret {
  padding: 0;
}
.member-info .app-container .el-serch-wrap > .el-title-body .el-form-item .bootstrap-select button .filter-option-inner-inner {
  color: #dcdfe6;
}
.member-info .app-container .el-serch-wrap > .el-title-body .el-form-item .bootstrap-select .dropdown-menu span {
  font-size: 13px;
}
.member-info .app-container .el-serch-wrap > .el-title-body .el-form-item .bootstrap-select .dropdown-menu .dropdown-menu > .active > a,
.member-info .app-container .el-serch-wrap > .el-title-body .el-form-item .bootstrap-select .dropdown-menu .dropdown-menu > .active > a:focus,
.member-info .app-container .el-serch-wrap > .el-title-body .el-form-item .bootstrap-select .dropdown-menu .dropdown-menu > .active > a:hover {
  background-color: #409eff;
}
.member-info .app-container .el-serch-wrap .el-title {
  margin-top: 20px;
  border: 1px solid #ebeef5;
  background-color: #fff;
  color: #303133;
  border-radius: 4px;
}
.member-info .app-container .el-serch-wrap .el-title .el-title-body {
  padding: 20px;
  vertical-align: middle;
}
.member-info .app-container .el-serch-wrap .el-title .el-title-body .doc-logo {
  display: inline-block !important;
  line-height: 20px;
  vertical-align: middle;
}
.member-info .app-container .el-serch-wrap .el-title .el-title-body .add {
  float: right;
  padding: 7px 15px;
  font-size: 12px;
  border-radius: 3px;
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dcdfe6;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: 0;
  margin: 0;
  transition: .1s;
}
.member-info .app-container .el-serch-wrap .table-container {
  margin-top: 20px;
  border-right: 1px solid #ebeef5;
  border-bottom: 1px solid #ebeef5;
  width: 100%;
}
.member-info .app-container .el-serch-wrap .table-container table {
  width: 100%;
}
.member-info .app-container .el-serch-wrap .table-container table th {
  padding: 12px 0;
  border-left: 1px solid #ebeef5;
  border-top: 1px solid #ebeef5;
  width: 10%;
  color: #909399;
  text-align: center;
}
.member-info .app-container .el-serch-wrap .table-container table th .input-type {
  width: 13px;
  height: 13px;
  background: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  margin: 0 2px 2px 0;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  border: 1px solid #e2e2e2;
}
.member-info .app-container .el-serch-wrap .table-container table th .input-type:checked {
  border: 1px solid #409eff;
  background-color: #409eff;
}
.member-info .app-container .el-serch-wrap .table-container table th .input-type:checked::before {
  content: "";
  display: block;
  position: relative;
  width: 3px;
  height: 6px;
  left: 34%;
  top: 9%;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(45deg);
  background: none;
}
.member-info .app-container .el-serch-wrap .table-container table th .input-type:hover {
  transition: 0.25s;
  border-color: #409eff;
}
.member-info .app-container .el-serch-wrap .table-container table th:nth-last-child(3) {
  width: 5%;
}
.member-info .app-container .el-serch-wrap .table-container table th:nth-child(2) {
  width: 5%;
}
.member-info .app-container .el-serch-wrap .table-container table th:nth-child(1) {
  width: 5%;
}
.member-info .app-container .el-serch-wrap .table-container table td {
  padding: 12px 0;
  border-left: 1px solid #ebeef5;
  border-top: 1px solid #ebeef5;
  text-align: center;
  font-size: 14px;
  color: #303133;
}
.member-info .app-container .el-serch-wrap .table-container table td .input-type {
  width: 13px;
  height: 13px;
  background: none;
  box-shadow: none;
  -webkit-appearance: none;
  appearance: none;
  display: inline-block;
  margin: 0 2px 2px 0;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  border: 1px solid #e2e2e2;
}
.member-info .app-container .el-serch-wrap .table-container table td .input-type:checked {
  border: 1px solid #409eff;
  background-color: #409eff;
}
.member-info .app-container .el-serch-wrap .table-container table td .input-type:checked::before {
  content: "";
  display: block;
  position: relative;
  width: 3px;
  height: 6px;
  left: 34%;
  top: 9%;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  transform: rotate(45deg);
  background: none;
}
.member-info .app-container .el-serch-wrap .table-container table td .input-type:hover {
  transition: 0.25s;
  border-color: #409eff;
}
