* {
  margin: 0;
}
li {
  list-style: none;
}
/* 主内容区域样式 */
/* 
 当元素不存在width属性或者（width：auto）的时候，负margin会增加元素的宽度，看下下面的例子
 */
.app-main {
  width: 100%;
}
.app-main .app-container {
  margin: 40px 120px 0 120px;
}
.app-main .total-layout {
  margin: 0 -10px;
  height: 100px;
}
.app-main .total-frame {
  width: 25%;
  height: 100%;
  float: left;
  padding: 0 10px;
  box-sizing: border-box;
}
.app-main .total-frame div {
  height: 100%;
  padding: 20px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  position: relative;
}
.app-main .total-frame div .total-title {
  position: absolute;
  font-size: 16px;
  color: #909399;
  right: 6px;
  top: -15px;
}
.app-main .total-frame div .total-value {
  position: absolute;
  font-size: 18px;
  color: #606266;
  left: 90px;
  top: 20px;
}
.app-main .un-handle-layout {
  margin-top: 20px;
  border: 1px solid #dcdfe6;
  box-sizing: border-box;
  width: 100%;
  height: 210px;
}
.app-main .un-handle-layout .layout-title {
  color: #606266;
  padding: 15px 20px;
  background: #f2f6fc;
  font-weight: 700;
  font-size: 15px;
}
.app-main .un-handle-layout .un-handle-content {
  padding: 20px 40px;
  height: 159px;
}
.app-main .un-handle-layout .un-handle-content .el-row {
  margin: 0!important;
}
.app-main .un-handle-layout .un-handle-content .el-row .un-handle-item-warpper {
  width: calc(33.33333333%);
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.app-main .un-handle-layout .un-handle-content .el-row .un-handle-item-warpper .un-handle-item {
  height: 38.4px;
  padding: 10px;
  border-bottom: 1px solid #ebeef5;
  font-size: 16px;
  color: #606266;
  margin-bottom: 0;
}
.app-main .un-handle-layout .un-handle-content .el-row .un-handle-item-warpper .un-handle-item .color-danger {
  color: #f56c6c;
}
.app-main .overview-layout {
  margin: 20px -10px 0 -10px;
  box-sizing: border-box;
  height: 240px;
}
.app-main .overview-warpper {
  width: 50%;
  float: left;
  box-sizing: border-box;
}
.app-main .overview-warpper .layout-title {
  color: #606266;
  padding: 15px 20px;
  background: #f2f6fc;
  font-weight: 700;
  margin: 0 10px;
  border: 1px solid #dcdfe6;
  border-bottom: 0 ;
  font-size: 15px;
}
.app-main .overview-warpper .layout-content {
  margin: 0 10px;
  border: 1px solid #dcdfe6;
  border-top: 0;
}
.app-main .overview-warpper .layout-content .el-row {
  margin-left: -10px !important;
  padding-left: 0px;
  font-size: 24px;
  text-align: center;
  color: #f56c6c;
  box-sizing: border-box;
  overflow: hidden;
}
.app-main .overview-warpper .layout-content .el-row li {
  float: left;
  width: 25%;
}
.app-main .overview-warpper .layout-content .black-color {
  color: #606266;
}
.app-main .overview-warpper .layout-content .black-color li {
  font-size: 16px;
  color: #606266;
}
.app-main .statistics-layout {
  margin-top: 20px;
  box-sizing: border-box;
  width: 100%;
  height: 480px;
  border: 1px solid #dcdfe6;
}
.app-main .statistics-layout .layout-title {
  color: #606266;
  padding: 15px 20px;
  background: #f2f6fc;
  font-weight: 700;
  font-size: 15px;
}
.app-main .statistics-layout .el-row {
  height: calc(47.6%);
}
.app-main .statistics-layout .el-col {
  float: left;
  height: 100%;
}
.app-main .statistics-layout .el-col .order-sum {
  padding: 0;
  text-align: left;
}
.app-main .statistics-layout .el-col .order-sum .order-item {
  margin-top: 20px;
}
.app-main .statistics-layout .el-col .order-sum .order-item > :first-child {
  color: #909399;
  font-size: 14px;
  margin: 0;
}
.app-main .statistics-layout .el-col .order-sum .order-item > :nth-child(2) {
  color: #606266;
  font-size: 24px;
  padding: 10px 0px;
  margin: 0;
}
.app-main .statistics-layout .el-col .order-sum .order-item > :nth-last-child(1) {
  color: #c0c4cc;
  font-size: 14px;
}
.app-main .statistics-layout .el-col .order-sum .order-item > :nth-last-child(1) > :first-child {
  color: #67c23a!important;
}
