.food-add {
  background: #fff;
  height: calc(20%);
  margin: 20px 0 0 16px;
  padding: 10px 40px 40px 40px;
}
.food-add .food-add-wrap {
  height: 100%;
  margin: 20px auto;
  padding: 40px 80px;
  width: 800px;
  border: 1px solid #ebeef5;
}
.food-add .food-add-wrap .steps-content {
  margin: 10px 0 0 -30px;
}
