.clerk-info {
  background: #fff;
  // margin: 20px 0 0 16px;
  height: 100%;
  padding: 10px 40px 0 40px;
  .wrap {
    // height: 80%;
    margin: 30px 15%;
    padding: 40px 80px 50px;
    width: 800px;
    border: 1px solid #ebeef5;
  }
}