.clerk-info {
  background: #fff;
  height: 100%;
  padding: 10px 40px 0 40px;
}
.clerk-info .wrap {
  margin: 20px 15% 0px;
  padding: 30px 80px 20px;
  width: 800px;
  border: 1px solid #ebeef5;
}
.clerk-info .wrap .ant-form-item {
  margin-bottom: 0;
}
